.general {
    background: rgb(215, 231, 221);
    background: radial-gradient(circle, rgba(215, 231, 221, 1) 1%, rgba(225, 228, 235, 1) 63%);
    padding: 150px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}


body {
    margin: 0;
}

.encabezado {
    text-align: justify;
    font-size: larger;
    color: #626465;
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
    font-size: x-large;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
}

.encabezado:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(-20px);
}


.fotoDni {
    display: flex;
    
    height: auto;
    width: 200px;
    aspect-ratio: 382/508;

    & img {
        height: auto;
        width: 100%;
        aspect-ratio: 382/508;
    }
}

.trainingCompetencies {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    gap: 20px;
}

.btTraining>div>img {
    width: 60px;
}

.elementoTraining {
    display: flex;
    gap: 10px;
}

.btTraining {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #626465;
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
}

.btTraining:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    color: #626465;
    border: solid 2px #0066cc;
}


.btCompetencies>div>img {
    width: 60px;
}

.elementoCompetencies {
    display: flex;
    gap: 10px;
}


.btCompetencies {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #626465;
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);


}

.btCompetencies:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    color: #626465;
    border: solid 2px #0066cc;
}



.experienceOther {
    display: flex;
    margin: 5px;
    gap: 20px;
    justify-content: space-between;
}

.btExperience>div>img {
    width: 60px;
}

.elementoExperience {
    display: flex;
    gap: 10px;
}



.btExperience {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #626465;
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
}

.btExperience:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    color: #626465;
    border: solid 2px #0066cc;
}

#moreExp {
    cursor: pointer;
    flex-direction: row;
}


.programacion {
    border-radius: 10px;
}

.btMoreInfo>div>img {
    width: 60px;
}

.elementoMoreInfo {
    display: flex;
    gap: 10px;
}

.btMoreInfo {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #626465;
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
}

.btMoreInfo:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    color: #626465;
    border: solid 2px #0066cc;
}

.btContact>div>img {
    width: 70px;
}

.elementoContactUs {
    display: flex;
    width: 70px;
    gap: 10px;
    justify-content: space-around;
    font-weight: bold;
}

.imgCopiar {
    width: 25px;
    margin: 5px;
}



#texto {
    flex-direction: row;
}

.btContact {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #626465;
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 12px 7px 20px 0px rgba(0, 0, 0, 0.75);
}


.btContact:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #9af5a5f6 0%, #48eac7 100%);
    color: #626465;
    border: solid 2px #0066cc;
    box-shadow: 0 0 #fff;
    transform: translateY(10px);
}

.correo {
    cursor: pointer;
}



@media all and (max-width: 500px) {
    .mark {
        max-width: 100%;
    }

    .general {
        padding: 10px;

    }

    .fotoDni>img {
        width: 100%;
        height: auto;
    }


    .trainingCompetencies {
        display: flex;
        flex-direction: column;
        margin: 5px;
        gap: 20px;
    }

    .experienceOther {
        display: flex;
        margin: 5px;
        gap: 20px;
        flex-direction: column;
    }


}